body {
  font-family: "Noto Sans", sans-serif;
  margin: 0em;
}
h1,
h2,
h3,
h5 {
  font-family: "Fjalla One", sans-serif;
}

element.style {
}

.col-md-6 {
  min-height: 1px;
  padding-right: 0px;
  padding-left: 15px;
  background-color: #fcfbfb;
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.Page-title span {
  color: #b00725;
}

.Page-title {
  font-family: reef;
  font-size: 2.5em;
  margin-bottom: 25px;
  margin-top: 0;
}
.text-gray {
  color: #7d7d7d;
}

element.style {
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}

element.style {
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet em {
  font-style: italic;
}
b,
strong {
  font-weight: 600;
}
user agent stylesheet strong {
  font-weight: bold;
}
style Attribute {
  text-align: right;
}
.h4,
h4 {
  font-size: 15px;
}
.h4 {
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}

.cover {
  height: 560px;
  background-image: url(https://cdn.glitch.com/8927fd4a-cdec-4be8-a5f5-d703f6c37560%2Fpara%20portada.JPG?v=1625083432355);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}
.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.card {
  border: 0 !important;
  boxshadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
}
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}

.bg-body {
  background-color: #bf323200 !important;
}
.img-slider {
  display: flex;
  margin: 0px;
  padding: 0;
}
.slider {
  width: 400px;
  height: 300px;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
}
.slider li {
  width: 100%;
  padding: 0;
  list-style: none;
}

.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.product-stripe {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.stripe-container {
  display: column;
}
.stripe-container {
  display: flex;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;

  color: #9b9b9b;
  line-height: 3.8;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  color: #fff;
  background-color: #011c39;
}

.footer > * {
  flex: 1 100%;
}
.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left img {
  width: 50%;
}
h2 {
  font-weight: 400;
  font-size: 17px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}
.footer li {
  line-height: 2em;
}
.footer a {
  text-decoration: none;
}
.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a {
  color: #999;
}
.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 0px;
}
.footer-left p {
  padding-right: 15%;
  color: #999;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1000px;

  margin: auto;
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .foooter {
    padding: 15px;
  }
  main {
    font-size: 55px;
  }
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 1 20px;
  font-weight: impact;
}
.meses {
  font-size: 35px;
  color: #0C1A1D;
  text-align: center;
}
.col-title {
  padding-right: 0px;
  padding-left: 15px;
  background-color: #E7EAEB;
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-2 {
  margin-right: 1rem;
  padding-bottom: 1rem;
}

.picture-left {
  padding-right: 0px;
  padding-left: 15px;
  padding-bottom: 1rem;
}

element.style {
  background-color: #040404;
}
.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: row;
  width: 100%;
  z-index: 1;
}

.Align-items-center {
  align-items: flex-start;
}
.h1,
h8 {
  margin-top: 200px;
  font-size: 58px;
  font-family: "Fjalla One", sans-serif;
}

.coover {
  height: 360px;
  background-image: url(https://cdn.glitch.com/8927fd4a-cdec-4be8-a5f5-d703f6c37560%2Frsz_1nicolas-lafargue-nirdrvqn4ne-unsplash.jpg?v=1622827244631);
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.colum {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  color: #000000;
}
.boox {
  color: #3a3c3e;
}
.boox li {
  list-style-type: disc;
  font-size: 15px;
}
.colum ul {
  list-style: none;
  padding-left: 0;
}
.vista {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}

.img-responsivo,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 80%;
  height: auto;
}

.boox1 li {
  list-style-type: none;
  font-size: 10px;
}

.link-staf {
  
  
}

.subtex {
 min-height: 1px;
  padding-right: 0px;
  padding-left: 15px;
  background-color: #fcfbfb;
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
      flex: 0 0 auto;
    width: 50%;
}

    
}

.immage {
 
}

.immagee {
  display: block;
  margin-right: auto;
  margin-left: auto;
  
  
}

.parraf {
  font-size: 25px;
  font-family: "Fjalla One", sans-serif; 
  color: #000000;
  
  
}

}
